body {
  background: #e27396;
  background: linear-gradient(
      129deg,
      rgba(226, 115, 150, 1) 0%,
      rgba(0, 119, 182, 1) 65%,
      rgba(0, 180, 216, 1) 100%
    )
    no-repeat fixed;
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 8px;

  background-color: rgba(0, 119, 182, 1);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(226, 115, 150, 1);
}

input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@media screen and (min-width: 960px) {
  .EditTaskContainer::-webkit-scrollbar {
    width: 7px;
  }
  .EditTaskContainer::-webkit-scrollbar-thumb {
    border-radius: 8px;

    background-color: #bb8493;
  }
}
.glass-effect {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(255, 255, 255, 0.31);
}
.glass-effect2 {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(255, 255, 255, 0.31);
}
.glass-effect3 {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(255, 255, 255, 0.31);
}
.glass-effect4 {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.6px);
  -webkit-backdrop-filter: blur(18.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.GlassEffectHover1:hover {
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(255, 255, 255, 0.31);
}
